:root {
    --primary-color: #C9CCD5;
    --secondary-color: #504658;
    --accent-color: #F96D80;
}

body {
    margin-top: 20px;
    text-align: center;
    background-color: var(--primary-color);
}
h1 {
    color: var(--secondary-color);
}
img {
    margin-bottom: 20px;
    border-radius: 8px
}
.link {
    color: var(--accent-color);
    margin: 0 10px;
}